img{
    width: 83px;
    height: 50px;
}

body{
    margin: 0 6%;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid;
}
#logo{
margin-left: 21px;
height: 47px;
}
nav{
    display: flex;
}
nav p{
    margin: 12px 10px;
    font-family: poppins;
}
#container1{
display: flex;
margin-bottom: 58px;
justify-content: space-between;
}
#left-side{
    max-width: 634px;
}
#align-text{
    display: flex;
    margin-top: 46px;
    max-width: 622px;
}
#align-text img{
    width: 282px;
    height: 269px;
    margin-top: 15px;
}
#align-subti{
    margin-left: 28px;
}
#align-subti p{
    font-family: montserrat;
    color: #0F0D59;
    font-weight: 500;
}
#align-subti span {
    text-transform: uppercase;
    font-size: 20px;
}
#align-subti p:nth-child(2){
    font-size: 17px;
    width: 147px;
    margin-left: 46px;
    margin-top: 34px;
}
#contacttext{
    max-width: 622px;
    display: flex;
    margin-top: 17px;
}
#fale{
    font-size: 30px;
    font-family: montserrat;
    color: #0F0D59;
    width: 284px;
}
#linha1{
    width: 4px;
    height: 108px;
    margin-top: 17px;
    margin-left: 11px;
    margin-right: 13px;
    background-color: #461BFF;
}
#cont-tel{
    font-family: poppins;
    margin-top: 23px;
    margin-left: 7px;
}

#contact-whats{
    display: flex;
}

#juncao-fale{
    display: flex;
    align-items: center;
    margin-left: 16px;
    background-color: #461BFF;
    border: 1px solid #461bff;
    height: 40px;
    margin-top: 9px;
    border-radius: 19px;
}
#juncao-fale img{
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 16px;
    border: 3px solid white;
    margin-right: 4px;
}
#juncao-fale p{
    width: 100px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    color: white;
}
#cont-tel p:nth-child(2){
    margin: 0;
}
#plan-empresarial{
    border: 1px solid;
    max-width: 345px;
    margin-top: 63px;
}
#plan-empresarial img{
    margin-left: 9px;
    height: 36px;
    width: 65px;
}
#planos-h1{
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
}
#planos-h2{
    font-size: 13px;
    margin-left: 34px;
    width: 276px;
    font-family: poppins;
}

form{
    font-family: poppins;
    font-size: 14px;
    margin: 0px 21px;
    margin-top: 36px;
}
label{
    display: block;
    width: 155px;
}
input{
    width: 80%;
    height: 21px;
    border: 1px solid;
}


#name, #email, #telefone, #cid_cnpj, #tipo-plano, #idade, #plano-atual{
    width: 93%;
    height: 28px;
    margin-bottom: 10px;
}
#lab-telefone{
  font-size: 13px;
}
#telefone{
    width: 90%;
}
#align-estado{
    width: 81%;
    max-width: 70px;
}
 #estado{
    width: 50%;
}
#align-telestado{
    display: inline-flex;
    width: 100%;
    justify-content: space-between; 
}
#align-cnpjIdade{
    display: flex;
    justify-content: space-between;
}
#align-cnpj, #align-idade{
    display: inline-grid;
    width: 116px;
}
#lab-cnpj{
    display: inline-grid;
    width: 116px;
}
#idade{
    width: 89%;
}
#align-idade{
    display: inline-grid;
    width: 152px;
}
#lab-idade{
    display: inline-grid;
    width: 133px;
}
#align-planoEvalor{
    display: inline-flex;
    justify-content: space-between;
    width: 97%;
}
 #align-plano{
width: 118px;
}
#lab-plano{
    width: 100%;
}
#lab-valor{
    width: 100%;
    font-size: 13px;
}
#align-valorPlano{
    width: 138px;
}
#plano-valor{
    margin-top: 1px;
    height: 28px;   
    width: 93%;
}
#lab-estado, #lab-tipo{
    width: 100%;
    height: 20px;
}
#estado{
    width: 58px;
    height: 32px;
    border: 1px solid;
}
#tipo-plano{
    border: 1px solid;
    width: 96%;
}
#comentario{
    width: 94%;
    margin-bottom: 10px;
}
#fale-um{
    width: 222px;
    height: 28px;
    margin-top: 10px;
}
#align-btn{
    display: flex;
    justify-content: center;
}
#btn-form{
border-radius: 15px;
height: 38px;
margin-bottom: 5px;
width: 85px;
color: white;
border: 1px solid #461BFF;
font-family: poppins;
font-weight: 400;
background-color: #461BFF;
cursor: pointer;
}

.titulos{
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 500;
}
.subtitulos{
    font-family: 'Poppins';
    width: 481px;
    text-align: center;
    margin-top: 0;
    color: #0F0D59;
    font-weight: 500;
}
.align-subt{
    display: flex;
    justify-content: center;
}

#cont-cards{
    display: flex;
    margin-top: 39px;
    justify-content: space-between;
}

.cards{
    font-size: 16px;
    width: 275px;
    border: 1px solid;
    border-radius: 7px;
    text-align: center;
    padding: 1%;
}
.cards img{
    height: 78px;
    width: 78px;
    position: relative;
    top: -43px;
    left: 4px;

}
.cards p:first-of-type{
   color: #0F0D59;
   font-size: 20px;
   margin-top: 0;
}

.cards p{
    font-family: poppins;
    font-weight: 500;
    font-size: 14px;
}
.buttons-cards{
    background-color: #461BFF;
    color: white;
    border: 1px solid;
    height: 47px;
    font-size: 15px;
    border-radius: 16px;
    padding: 0px 14px;
    font-family: 'Poppins';
    cursor: pointer;
}
#btn-cota2{
    margin-top: 20px;
}
#btn-cota3{
    margin-top: 16px;
}

#cont-porta{
    background-color: #1706FF;
    display: flex;
    justify-content: space-around;
}
#block-white{
    width: 187px;
    height: 50px;
    border: 1px solid white;
    text-align: center;
    background-color: white;
    border-radius: 11px;
    margin-top: 29px;
    margin-left: 150px;
}
#leftside-port{
    max-width: 450px;
    margin-right: 39px;
}

 #leftside-port p{
        font-weight: 600;
        margin-left: 103px;
        color: white;
        font-family: 'Montserrat';
}
#align-imgport{
    display: flex;
    justify-content: center;
    margin-top: 42px;
}
#align-imgport img{
    height: 239px;
    width: 239px;
}
#linha2{
    width: 3px;
    margin-top: 75px;
    height: 275px;
    background: white;
}
#block-logo{
    width: 70px;
    height: 54px;
    border-radius: 36px;
    border: 1px solid white;
    background: white;
    padding-top: 14px;
    text-align: center;
    position: relative;
    top: 34px;
    left: 181px;
}
#block-logo img{
    width: 37px;
    height: 25px;
    margin-top: 10px;
}
#block2-logo{
    position: relative;
    top: -9px;
    left: 5px;
    width: 51px;
    border: 5px solid #0022FF;
    border-radius: 35px;
    height: 49px;
}
#orcam-port{
    width: 232px;
    height: 100%;
    background-color: white;
    margin-left: 106px;
    border-radius: 49px;
    font-family: poppins;
    text-align: center;
}
#titul-port{
    padding-top: 26px;
    font-size: 22px;
    width: 120px;
    margin-left: 46px;
    color: #0F0D59;
    font-weight: 500;
}
#subti-port{
    font-size: 13px;
    margin-left: 21px;
    width: 80%;
    font-weight: 500;
    color: #0F0D59; 
}
#btn-orca{
    width: 182px;
    border: 1px solid;
    padding: 14px;
    font-family: poppins;
    font-size: 13px;
    border-radius: 16px;
    color: white;
    background-color: #461BFF;
    cursor: pointer;
}
#info-vendas{
    display: flex;
}
#central{
    font-size: 11px;
    margin-left: 29px;
    text-align: start;
    height: 43px;
    font-weight: bolder;
    letter-spacing: -1px;
    color: #461BFF;
    max-width: 64px;
}
#linha3{
    opacity: 68%;
    width: 3px;
    background-color: blue;
    border-radius: 22px;
    height: 29px;
    margin-top: 12px;
}
#block-cel{
    margin-top: 14px;
    margin-left: 7px;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}
#block-cel img{
    width: 25px;
    height: 24px;
}
#block-tel{
width: 87px;
    margin-top: 10px;
    margin-left: 3px;
    background-color: #461BFF;
    height: 28px;
    text-align: center;
    border-radius: 21px;
}
#block-tel p{
    font-size: 12px;
    max-width: 85px;
    margin-left: 1px;
    height: 21px;
    margin-top: 17px;
    margin: 0;
    margin-left: 0px;
    font-weight: 300;
    margin-top: 6px;
    color: white;
}

.hospitais{
    margin-left: 48px;
}

.hospitais img{
    width: 50px;
}
.hospitais p{
    font-family: poppins;
}

#container-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
#conte-contato{
    border: 1px solid;
    width: 500px;
    padding: 28px;
    position: relative;
}

#conte-contato p:nth-last-child(5){
    font-size: 23px;
    font-family: montserrat;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
#block-logo2{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 371px;
    top: 67px;
    border: 1px solid;
}
#block-logo2 img{
    width: 83px;
    margin-top: 11px;
    height: 50px;
}
#container-cont img:nth-last-child(2){
    width: 48px;
    padding: 6px;
    height: 45px;
    border: 1px solid;
    border-radius: 52px;
}

#conta-tel,#conta-email,#conta-whats{
    display: flex;
    margin-top: 11px;
}
#conta-whats img{
    width: 48px;
    padding: 6px;
    height: 45px;
    border: 1px solid;
    border-radius: 52px;
}

#conta-tel div{
    font-family: poppins;
    margin-left: 13px;
    padding-top: 4px;
}
#conta-tel p{
    margin: 0;
    color: #0F0D59;
}

#conta-whats{
    font-family: poppins;
    margin-top: 10px;
}

#tel-contato p{
    margin: 0;
    font-size: 17px;
}
#conta-email div{
    font-family: poppins;
    margin-left: 13px;
    padding-top: 4px;
}
#conta-email p{
    margin: 0;
    color: #0F0D59;
}

#conta-whats p{
    margin: 0;
    color: #0F0D59;
    margin-left: 15px;
    margin-top: 2px;
}
#conte-contato button{
    width: 129px;
    height: 43px;
    margin-top: 10px;
    margin-left: 37px;
    border: 1px solid;
    font-family: poppins;
    border-radius: 19px;
    color: white;
    background-color: #461BFF;
    cursor: pointer;
}