
a{
    text-decoration: none;
    color: black;
}
img{
    width: 83px;
    height: 50px;
}

body{
    margin: 0 6%;
}
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid;
}
#logo{
margin-left: 21px;
height: 47px;
}
#IconMenu{
    display: none;
}
nav{
    display: flex;
}
nav p{
    margin: 12px 10px;
    font-family: poppins;
}
#container1{
display: flex;
margin-bottom: 58px;
justify-content: space-between;
}

#align-text{
    display: flex;
    margin-top: 46px;
    max-width: 622px;
}
#align-text img{
    width: 454px;
    height: 416px;
    margin-top: 15px;
}
#align-subti{
    margin-left: 28px;
}
#align-subti p{
    font-family: montserrat;
    color: #0F0D59;
    width: 310px;
    font-weight: 500;
    margin-left: 35px;
}
#align-subti span {
    text-transform: uppercase;
    font-size: 25px;
}
#align-subti p:nth-child(2){
    font-size: 23px;
    width: 196px;
    margin-left: 60px;
    margin-top: 151px;
}
#contacttext{
    max-width: 622px;
    display: flex;
    margin-top: 106px;
}
#fale{
    font-size: 30px;
    font-family: montserrat;
    color: #0F0D59;
    width: 284px;
}
#linha1{
    width: 4px;
    height: 108px;
    margin-top: 17px;
    margin-left: 11px;
    margin-right: 13px;
    background-color: #461BFF;
}
#cont-tel{
    font-family: poppins;
    margin-top: 23px;
    margin-left: 7px;
}

#contact-whats{
    display: flex;
}

#juncao-fale{
    display: flex;
    align-items: center;
    margin-left: 16px;
    background-color: #461BFF;
    border: 1px solid #461bff;
    height: 40px;
    margin-top: 9px;
    border-radius: 19px;
}
#juncao-fale img{
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 16px;
    border: 3px solid white;
    margin-right: 4px;
}
#juncao-fale p{
    width: 100px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    color: white;
}
#cont-tel p:nth-child(2){
    margin: 0;
}

#textform{
    display: none;
}

#plan-empresarial{
    border: 1px solid;
    max-width: 345px;
    margin-top: 63px;
}
#plan-empresarial img{
    margin-left: 9px;
    height: 36px;
    width: 65px;
}
#planos-h1{
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
}
#planos-h2{
    font-size: 13px;
    margin-left: 34px;
    width: 276px;
    font-family: poppins;
}

form{
    font-family: poppins;
    font-size: 14px;
    margin: 0px 21px;
    margin-top: 36px;
}
label{
    display: block;
    width: 155px;
}
input{
    width: 80%;
    height: 21px;
    border: 1px solid;
}


#name, #email, #telefone, #cid_cnpj, #tipo-plano, #idade, #plano-atual{
    width: 93%;
    height: 28px;
    margin-bottom: 10px;
}
#lab-telefone{
  font-size: 13px;
}
#telefone{
    width: 90%;
}
#align-estado{
    width: 81%;
    max-width: 70px;
}
 #estado{
    width: 50%;
}
#align-telestado{
    display: inline-flex;
    width: 100%;
    justify-content: space-between; 
}
#align-cnpjIdade{
    display: flex;
    justify-content: space-between;
}
#align-cnpj, #align-idade{
    display: inline-grid;
    width: 116px;
}
#lab-cnpj{
    display: inline-grid;
    width: 116px;
}
#idade{
    width: 89%;
}
#align-idade{
    display: inline-grid;
    width: 152px;
}
#lab-idade{
    display: inline-grid;
    width: 133px;
}
#align-planoEvalor{
    display: inline-flex;
    justify-content: space-between;
    width: 97%;
}
 #align-plano{
width: 118px;
}
#lab-plano{
    width: 100%;
}
#lab-valor{
    width: 100%;
    font-size: 13px;
}
#align-valorPlano{
    width: 138px;
}
#plano-valor{
    margin-top: 1px;
    height: 28px;   
    width: 93%;
}
#lab-estado, #lab-tipo{
    width: 100%;
    height: 20px;
}
#estado{
    width: 58px;
    height: 32px;
    border: 1px solid;
}
#tipo-plano{
    border: 1px solid;
    width: 96%;
}
#comentario{
    width: 94%;
    margin-bottom: 10px;
}
#fale-um{
    width: 222px;
    height: 28px;
    margin-top: 10px;
}
#align-btn{
    display: flex;
    justify-content: center;
}
#btn-form{
border-radius: 15px;
height: 38px;
margin-bottom: 5px;
width: 85px;
color: white;
border: 1px solid #461BFF;
font-family: poppins;
font-weight: 400;
background-color: #461BFF;
cursor: pointer;
}

.titulos{
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 500;
    
}
.subtitulos{
    font-family: 'Poppins';
    width: 481px;
    text-align: center;
    margin-top: 0;
    color: #0F0D59;
    font-weight: 500;
}
.align-subt{
    display: flex;
    justify-content: center;
}

#cont-cards{
    display: flex;
    margin-top: 39px;
    justify-content: space-between;
}

.cards{
    font-size: 16px;
    width: 275px;
    border: 1px solid;
    border-radius: 7px;
    text-align: center;
    padding: 1%;
}
.cards img{
    height: 78px;
    width: 78px;
    position: relative;
    top: -43px;
    left: 4px;

}
.cards p:first-of-type{
   color: #0F0D59;
   font-size: 20px;
   margin-top: 0;
}

.cards p{
    font-family: poppins;
    font-weight: 500;
    font-size: 14px;
}
.buttons-cards{
    background-color: #461BFF;
    color: white;
    border: 1px solid;
    height: 47px;
    font-size: 15px;
    border-radius: 16px;
    padding: 0px 14px;
    font-family: 'Poppins';
    cursor: pointer;
}
#btn-cota2{
    margin-top: 20px;
}
#btn-cota3{
    margin-top: 16px;
}

#cont-porta{
    background-color: #1706FF;
    display: flex;
    justify-content: space-around;
}
#block-white{
    width: 187px;
    height: 50px;
    border: 1px solid white;
    text-align: center;
    background-color: white;
    border-radius: 11px;
    margin-top: 29px;
    margin-left: 150px;
}
#leftside-port{
    max-width: 450px;
    margin-right: 39px;
}

 #leftside-port p{
        font-weight: 600;
        margin-left: 103px;
        color: white;
        font-family: 'Montserrat';
}
#align-imgport{
    display: flex;
    justify-content: center;
    margin-top: 42px;
}
#align-imgport img{
    height: 239px;
    width: 239px;
}
#linha2{
    width: 3px;
    margin-top: 75px;
    height: 275px;
    background: white;
}
#block-logo{
    width: 70px;
    height: 54px;
    border-radius: 36px;
    border: 1px solid white;
    background: white;
    padding-top: 14px;
    text-align: center;
    position: relative;
    top: 34px;
    left: 181px;
}
#block-logo img{
    width: 37px;
    height: 25px;
    margin-top: 10px;
}
#block2-logo{
    position: relative;
    top: -9px;
    left: 5px;
    width: 51px;
    border: 5px solid #0022FF;
    border-radius: 35px;
    height: 49px;
}
#orcam-port{
    width: 232px;
    height: 100%;
    background-color: white;
    margin-left: 106px;
    border-radius: 49px;
    font-family: poppins;
    text-align: center;
}
#titul-port{
    padding-top: 26px;
    font-size: 22px;
    width: 120px;
    margin-left: 46px;
    color: #0F0D59;
    font-weight: 500;
}
#subti-port{
    font-size: 13px;
    margin-left: 21px;
    width: 80%;
    font-weight: 500;
    color: #0F0D59; 
}
#btn-orca{
    width: 182px;
    border: 1px solid;
    padding: 14px;
    font-family: poppins;
    font-size: 13px;
    border-radius: 16px;
    color: white;
    background-color: #461BFF;
    cursor: pointer;
}
#info-vendas{
    display: flex;
}
#central{
    font-size: 11px;
    margin-left: 29px;
    text-align: start;
    height: 43px;
    font-weight: bolder;
    letter-spacing: -1px;
    color: #461BFF;
    max-width: 64px;
}
#linha3{
    opacity: 68%;
    width: 3px;
    background-color: blue;
    border-radius: 22px;
    height: 29px;
    margin-top: 12px;
}
#block-cel{
    margin-top: 14px;
    margin-left: 7px;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}
#block-cel img{
    width: 25px;
    height: 24px;
}
#block-tel{
width: 87px;
    margin-top: 10px;
    margin-left: 3px;
    background-color: #461BFF;
    height: 28px;
    text-align: center;
    border-radius: 21px;
}
#block-tel p{
    font-size: 12px;
    max-width: 85px;
    margin-left: 1px;
    height: 21px;
    margin-top: 17px;
    margin: 0;
    margin-left: 0px;
    font-weight: 300;
    margin-top: 6px;
    color: white;
}

#sect-rede{
    margin-top: 20px;
}

.hospitais{
    margin-left: 48px;
}

.hospitais img{
    width: 50px;
}
.hospitais p{
    font-family: poppins;
}

#container-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    margin-top: 27px;
}
#conte-contato{
    border: 1px solid;
    width: 500px;
    padding: 28px;
    position: relative;
}

#conte-contato p:nth-last-child(5){
    font-size: 23px;
    font-family: montserrat;
    text-align: center;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 40px;
}
#block-logo2{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 371px;
    top: 67px;
    border: 1px solid;
}
#block-logo2 img{
    width: 80px;
    margin-top: 13px;
    height: 48px;
}
#container-cont img:nth-last-child(2){
    width: 48px;
    padding: 6px;
    height: 45px;
    border: 1px solid;
    border-radius: 52px;
}

#conta-tel,#conta-email,#conta-whats{
    display: flex;
    margin-top: 11px;
}
#conta-whats img{
    width: 48px;
    padding: 6px;
    height: 45px;
    border: 1px solid;
    border-radius: 52px;
}

#conta-tel div{
    font-family: poppins;
    margin-left: 13px;
    padding-top: 4px;
}
#conta-tel p{
    margin: 0;
    color: #0F0D59;
}

#conta-whats{
    font-family: poppins;
    margin-top: 10px;
}

#tel-contato p{
    margin: 0;
    font-size: 17px;
}
#conta-email div{
    font-family: poppins;
    margin-left: 13px;
    padding-top: 4px;
}
#conta-email p{
    margin: 0;
    color: #0F0D59;
}

#conta-whats p{
    margin: 0;
    color: #0F0D59;
    margin-left: 15px;
    margin-top: 2px;
}
#conte-contato button{
    width: 129px;
    height: 43px;
    margin-top: 10px;
    margin-left: 37px;
    border: 1px solid;
    font-family: poppins;
    border-radius: 19px;
    color: white;
    background-color: #461BFF;
    cursor: pointer;
}




#container {
    min-height: 100%;
    position: relative;
    width: 100%;
}
#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 206px; /* footer height, we will fix that with jquery */
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    height: 206px; /* footer height if any */
}

@media screen and (max-width:1355px) {
    #container1{
        display: block;
    }
    #align-leftside{
        display: flex;
        justify-content: center;
    }
    #align-text{
        max-width: 100%;
    }
    #align-conttext{
        display: flex;
        justify-content: center;
    }
    #container-form{
        display: flex;
        justify-content: center;
    }
    #textform{
        display: block;
    }
}

@media screen and (max-width:1000px){
    #align-text img {
        width: 309px;
        height: 297px;
        margin-top: 15px;
    }
    #align-subti {
        margin-left: 28px;
    }
    #align-subti span {
        font-size: 20px;
    }
    #align-subti p:nth-child(2) {
        font-size: 20px;
        width: 196px;
        margin-left: 60px;
        margin-top: 100px;
    }
}
#align-subti {
    margin-left: 28px;
}
#contacttext {
    margin-top: 41px;
}
.cards{
    width: 229px;
}
#pln-indiv{
    margin-bottom: 0;
}
.cards p{
    font-size: 12px;
}
#block-logo{
    left: 70px;
}
#orcam-port{
    margin-left: 0;
}

@media screen and (max-width:840px) {
        #linha2{
            display: none;
        }
}
@media screen and (max-width:780px) {
    #orcam-port{
        
    margin-right: 45px;
    }
    #pln-indivText{
    margin: 2px;
    }
    #block-white{
        margin-left: 69px;
    }
    #leftside-port p {

        margin-left: 66px;
        width: 201px;
   
    }
}
@media screen and (max-width:719px){
    #align-text img{
        width: 254px;
        height: 249px;
    }
    #textform{
        margin-top: 45px;
        margin-bottom: 0;
    }
    #IconMenu{
        display: block;
        color: #461bff;
        margin-right: 12px;
        width: 52px;
        font-size: 50px;
        cursor: pointer;
    }
    nav{
        display: none;
    }
    .cards p:first-of-type{
        font-size: 17px;
    }
    .cards p {
        font-size: 11px;
    }
    #fale {
        font-size: 23px;
        width: 206px;
    }
    #cont-tel{
        margin-top: 6px;
    }
}
@media screen and (max-width:675px){
    #align-text img {
        width: 225px;
        height: 204px;
    }
    #align-subti p {
        width: 233px;
    }
    #align-subti p:nth-child(2) {
        margin-top: 50px;
    }
}

@media screen and (max-width:647px) {
    #align-subti span {
        font-size: 17px;
    }
    #align-subti p {
        width: 182px;
    }

    #align-subti p:nth-child(2) {
        width: 180px;
        margin-left: 30px;
    }
    .cards {
        width: 151px;
        height: 331px;
    }
    .buttons-cards{
        height: 38px;
        font-size: 10px;
    }
    .cards{
        height: auto;
    }
    .cards p{
        font-size: 10px;
    }
    .cards p:first-of-type {
        font-size: 15px;
    }
    #btn-cota1{
        margin-top: 18px;
    }
    #leftside-port p {
       margin-left: 50px;
    }
    #block-white {
        margin-left: 49px;
    }
}

@media screen and (max-width:613px) {
    #fale {
        font-size: 18px;
        width: 155px;
        margin-top: 34px;
    }
    #contact-whats p{
        font-size: 13px;
    }
    #cont-tel {
        margin-top: 17px;
    }
    #cont-tel p:nth-child(2) {
        font-size: 13px;
    }
    #juncao-fale{
        margin-left: 10px;
        border-radius: 26px;
        height: 33px;
        padding: 4px;
    }
    #juncao-fale p{
        display: none;
    }
    #juncao-fale img{
        margin-right: 0;
    }
    #align-imgport img {
        height: 193px;
        width: 198px;
    }
    #leftside-port p {
        margin-left: 8px;
    }
    #block-white {
        margin-left: 6px;
    }
}

@media screen and (max-width:547px){
    #leftside-port {
        margin-right: 20px;
    }
    #block-logo2{
        left: 271px;
    }
    #align-text img {
        width: 210px;
        height: 188px;
    }
    #btn-cota2 {
        margin-top: 35px;
    }
    #btn-cota3 {
        margin-top: 36px;
    }
    #cont-porta{
        display: inline-block;
        width: 100%;
    }
    #orcam-port{
        margin-right: 0;
    }
    #align-orcam{
        margin-top: 30px;
        display: flex;
    justify-content: center;
    margin-bottom: 19px;
    }
    #block-logo{
        left: 176px;
    }
    #align-text{
        display: flex;
        justify-content: center;
    }
    #align-logo{
        display: flex;
        justify-content: center;
    }
    #block-logo, #block2-logo{
        display: none;
    }
    #cont-cards{
        display: block;
    }
    #align-cards{
        display: flex;
        justify-content: center ;
    }
    .cards{
        width: 271px;
        margin-bottom: 62px;
    }
    .cards p {
        font-size: 14px;
    }
    .buttons-cards{
        font-size: 12px;
    }
    #conte-contato{
        padding: 0;
        width: 396px;
    }
    
}

@media screen and (max-width:465px) {
    #align-text img {
        width: 28vw;
        height: 28vw;
    }
    #align-subti {
        margin-left: 4px;
    }
    #conte-contato{
        padding: 0;
    }
    
    
}